# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/docs/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.eslintcache
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/Learning/.vs/Learning/DesignTimeBuild/.dtbcache-AminLakhani.v2
/Learning/.vs/Learning/FileContentIndex/fd893ad2-6f63-450d-b502-7bd35c3679e8.vsidx
/Learning/.vs/Learning/v17/-AminLakhani.suo
/Learning/.vs/Learning/v17/.futdcache-AminLakhani.v2
/Learning/.vs/ProjectEvaluation/learning.metadata.v6.1
/Learning/.vs/ProjectEvaluation/learning.projects.v6.1
/package-AminLakhani.json
/package-lock-AminLakhani.json
/yarn-AminLakhani.lock
